<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tour_guide">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- أضيفي هذه الأذونات -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MainActivity"
        android:label="tour_guide"
        android:icon="@mipmap/ic_launcher"
        android:exported="true"
        tools:replace="android:name">

        <!-- Receivers -->
        <receiver
            android:name="com.awesome.notifications.notifications.receivers.ActionReceiver"
            android:exported="true" />
            
        <receiver
            android:name="com.awesome.notifications.notifications.receivers.DismissedReceiver"
            android:exported="true" />
            
        <receiver
            android:name="com.awesome.notifications.notifications.receivers.RebootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>